.container{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #373a3d;
    height: 55px;
}

.input{
    height: 40px;
    width: 90%;
    background-color: #373a3d;
    border: none;
    outline: none;
    text-indent: 10px;
    color: white;
    font-size: 16px;
    direction: rtl;
}

.input::placeholder{
    color: white;
    opacity: 0.6;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373a3d;
    border: none;
    outline: none;
    cursor: pointer;
    width: 35px;
}

.hideButton{
    opacity: 0;
}

img{
    width: 25px;
}

@media (max-width : 500px){

    .input{
        width: 80%;
    }
    
}
