::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 134); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 85, 85); 
}

.container{
    display: flex;
    flex-direction: column;
}